@{
  Layout = "_Layout";
}
<div class="container">


<h1 class="pagetop">Add a stylist</h1>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist name: </label>
  <input id="stylistName" name="stylistName" type="text" required="required">
  <button type="submit" class="btn btn-info">Add</button>
</form>

<p><a href="/stylists">Back to stylists.</a></p>

</div>