@{
  Layout = "_Layout";
}
<div class="container">


<h1 class="headline">Add a specialty</h1>

<form action="/specialties" method="post">
  <label for="name">Specialty name: </label>
  <input id="name" name="name" type="text" required="required">
  <button type="submit" class="btn btn-info">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialties">Back to specialtiess.</a></p>

</div>