@{
  Layout = "_Layout";
}
<div class="container">


<h1 class="pagetop">Add a specialty</h1>

<form action="/specialties" method="post">
  <label for="name">Specialty name: </label>
  <input id="name" name="name" type="text" required="required">
  <button type="submit">Add</button>
</form>

<p><a href="/specialties">Back to specialtiess.</a></p>

</div>