@{
  Layout = "_Layout";
}
<div class="container">

<h3><a href='/stylists'>View Stylists</a></h3>
<h3><a href='/clients'>View Clients</a></h3>
<h3><a href='/specialties'>View Specialties</a></h3>
</div>