@{
  Layout = "_Layout";
}
<div class="container">


<h1 class="headline">Add a new client</h1>

<form action="/clients" method="post">
  <label for="name">Client Name: </label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit">Add client</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/clients">View all Clients</a></p>

</div>